* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
}

p, label {
    font-family: 'Opens Sans', sans-serif;
}

/* ANIMAÇÕES */

@keyframes fadeOut {
    /* Animação do Preloader */
    to {
        opacity: 0;
    }
}

@keyframes fadeFromLeft {
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideTopIn{  /*https://cubic-bezier.com/#.17,.67,.83,.67*/
    to {
        top: 15%;
        opacity: 1;
    }
}

@keyframes scaleRight{  
    to {
        transform: scaleX(1)
    }
}

@keyframes scaleUp{  
    to {
        transform: scale(1)
    }
}

@keyframes lineDown {
    /* Animação do corpo da seta do scroll down */
    0% {
        transform: scale(1, 0);
        transform-origin: top center;
    }

    25% {
        transform: scale(1,1);
        transform-origin: top center;
    }

    75% {
        transform: scale(1,1);
        transform-origin: top center;
    }

    76% {
        transform: scale(1,1);
        transform-origin: bottom center;
    }

    100% {
        transform: scale(1,0);
        transform-origin: bottom center;
    }

}

@keyframes arrowDown {
    0% {
        bottom: 18px;
    }

    30% {
        bottom: 15px;
        opacity: 1;
    }

    70% {
        bottom: 10px;
        opacity: 1;
    }

    100% {
        bottom: 3px;
        opacity: 0;
    }
}

@media screen and (min-width: 320px){
    /* --- estilo de topbar ---*/
    .jl-page-wrapper, .jl-preloader {
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #1C1C1C;
        border: 25px solid #000;
    }

    .jl-preloader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
    }

    .jl-preloader-inner {
        margin-top: -45px;
    }

    .jl-overlay {
        width: 100%;
        height: 100vh;
        display: none;

        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;

        background-color: rgba(44, 203, 105, 0.95);
    }

    /*------------ Modal -------------*/

    .jl-modal {
        width: 800px;

        display: none;     /*table para alinhar o modal*/
        
        padding: 30px;
        border-radius: 0 30px 30px 30px;

        position: fixed;
        top: -100%;     /*faz modal fica fora da tela*/

        left: 0;
        right: 0;
        margin: 0 auto;

        z-index: 1200;
        opacity: 0;
    }

    /*------------ Modal Header -------------*/

    .jl-close-header, .jl-modal-body, .jl-form {
        width: 100%;
        display: table;
        position: relative; /**/
    }

    .jl-close-modal {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: #2CCB69;
        text-align: center;
        line-height: center;
        cursor: pointer;

        position: absolute; /* se alinha baseado no header */
        top: -15px;
        right: -15px;

        border: none;
        background-color: #2f2f2f;

    }

    /*------------ Modal Body -------------*/

    .jl-form label {
        margin-bottom: 10px;
        font-size: 16px;
        display: inline-block;  /* faz seta valores acima */
    }

    .jl-field, .jl-textarea {
        width: 100%;
        background-color: #2f2f2f;
        border-radius: 4px;
        color: #fff;
        border: none;
        font-size: 16px;
        
        text-indent: 15px;  /* espaçamento somente primeira linha */
        /* padding-left: 15px; Pode usar esse pra espaçamento de texto dentro da caixa de texto */
    }

    .jl-field {
        height: 45px;
    }

    .jl-topbar {
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        /* --- fica fixado no topo --- */
        position: fixed;
        top: 0;
        left: 0;
        /* --- fica fixado no topo --- */

        z-index: 900 /*Coloca o Menu a frente dos elementos*/
    }

    .jl-logo {
        width: 74px;
        height: 110px;

        float: left;
        margin-left: 60px;
        
        background-color: #2CCB69;
        border-radius: 0 0 37px 0;
    }

    .jl-logo img {
        width: 46px;
        height: 31px;
        display: block;
        margin: 55px auto 0 auto;
    }

    .jl-menu {
        display: none;
    }

    /* --- estilo de contatos ---*/
    .jl-btn-contact {
        width: 45px;
        height: 45px;
        display: block;

        background-color: #2CCB69;
        background-image: url('../images/icon-contact-close.svg');
        background-repeat: no-repeat;   /*nao deixa repetir imagem*/

        /*Mantem fixo na tela*/
        position: fixed;
        bottom: 45px;
        right: 45px;
        /*Mantem fixo na tela*/

        border-radius: 50%;
        z-index: 200;

        transition: all .2s ease-out;

        border: none;
        cursor: pointer;
    }

    

    /* caixa de contatos fixo no canto inferior direito */
    .jl-contact-info {

        display: none;

        width: 245px;
        height: 165px;

        padding: 25px;

        position: fixed;
        
        bottom: 115px;
        right: 65px;
        z-index: 200;
    }

    .jl-contact-info-inner {
        display: table;
        width: 100%;
        float: right;
    }

    .jl-contact-info-inner p {
        font-size: 18px;
        line-height: 24px;
    }

    .jl-corner {
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        /* display: relative; */
    }

    .jl-corner:after {
        /* cria a ponta final do painel de contatos*/
        content: '';
        width: 25px;
        height: 25px;
        display: block;

        position: absolute;
        bottom: -19px;
        right: -1px;
        background: transparent url('../images/corner.svg') no-repeat;
    }

    .jl-social-links, .jl-social-links-circle {
        width: 100%;
        height: 45px;
        display: block;

        position: relative;
        left: -12px;

        margin-top: 7px;
    }

    .jl-social-links-circle {
        left: 0;
    }

    .jl-social, .jl-social-links-circle .jl-social{
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    .jl-social-links-circle .jl-social{
        border-radius: 50%;
        text-align: center;
        transition: all 0.2s ease-out;
    }

    .jl-social-links-circle .jl-social ion-icon{
        /* vertical-align: middle; */
        height: 45px;
        transition: all 0.2s ease-out;
    }

    .jl-social-links-circle .jl-social:hover {
        background-color: #000;
    }

    .jl-social-links-circle .jl-social:hover ion-icon {
        color: #2CCB69;
    }

    .jl-social > img {
        width: 20px;
        height: auto;
        display: block;
        margin: 13px auto 0;

    }

    /*--- HOME ---*/
    .jl-display-text {
        margin-top: 10%;
    }

    #jl-home-presentation {
        background-image: url('../images/joao-lemon-designer-home.png');
        background-repeat: no-repeat;
        background-position: 50% bottom;
        background-size: contain;
        position: relative; /* div pai do jl-scroll-down*/
    }

    /*--- Scroll da Página ---*/
    .jl-scroll-down {
        width: 70px;
        height: 105px;
        border-radius: 35px 35px 0 0;
        background-color: #2CCB69;
        display: block;
        
        /* faz centralizar no canto inferior */
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
    }

    .jl-arrow-down {
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }
    
    /* img da arrow */
    .jl-arrow-down img {
        width: 16px;
        height: 10px;
        display: block;
        
        /* faz centralizar no canto inferior */
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;

        opacity: 0;
        animation: arrowDown 1s linear 0.7s infinite;
    }

    /* faz linha da arrow depois de desenha arrow */
    .jl-arrow-down:before {
        content: '';
        width: 2px;
        height: 45px;
        background-color: #000;

        display: block;

        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;

        /*Animação do corpo da seta*/
        animation: lineDown 1s ease-out infinite;
        transform-origin: top center;
    }

    /*--- HOME - PORTFOLIO ---*/

    .jl-portfolio-navigator {
        width: 145px;
        height: 400px;
        display: table; /*assume a altura dos conteudos que tiverem dentro*/
        position: absolute; /*se alinha referente ao pai*/
        left: 15px;
        top: 26vh; /*como o pai usa vh, o filho precisa usar também*/
    }

    .jl-navigator-counter {
        width: 100%;
        height: 90px;
        display: block;
        margin-bottom: 60px;
        position: relative; /*pai do jl-item-counter:before*/
    }

    .jl-navigator-counter:before {
        content: '';
        display: block;
        width: 35px;
        height: 100%;
        background-color: #1C1C1C;
        position: absolute; /*se alinha referente ao pai*/
        top: 3px;
        left: 0;
    }

    .jl-navigator-counter span{
        font-family: 'Open Sans', sans-serif;
        font-size: 120px;
        line-height: 90px;  /*ajusta o texto dentro da sua box*/
        font-weight: 600;
    }

    .jl-item-navigator {
        width: 100%;
        display: table;
    }

    .jl-item-navigator a {
        width: 20px;
        height: 1px;
        display: block;
        margin: 0 0 80px 35px;
        background-color: #4D4C4C;
    }

    .jl-item-navigator a.jl-item-active {
        background-color: #2CCB69;
    }

    .jl-item-navigator a:last-child {
        margin-bottom: 30px;
    }

    .jl-items-next-prev {
        width: 100%;
        height: 45px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #2C2C2C;
        border-radius: 23px;
    }

    .jl-items-next-prev > div {
        height: 32px;
    }

    .jl-items-counter {
        font-family: 'Open Sans', sans-serif;
        color: #4D4C4C;
        line-height: 32px;  /* alinha no centro conforme (jl-items-next-prev > div)*/
    }

    .jl-item-prev, .jl-item-next {
        width: 45px;
        color: #2CCB69;
        text-align: center;
        cursor: pointer;
    }

    .jl-items-counter span:nth-child(1){
        color: #bcbcbc;
    }

    ion-icon {
        font-size: 32px;
    }

    /* Sliders */
    .jl-slider-container {  /* container dos sliders*/
        display: block;
        overflow: hidden;   /*Tira rolagem lateral por ter itens na horizontal*/
    }

    .jl-slider-list {   /* lista dos sliders*/
        width: auto;
        height: 700px;

        display: block;
        list-style: none;
    }

    .jl-slider-list .jl-portfolio-item {
        display: block;
        height: 500px;
        float: left;

        margin-top:  calc(26vh - 75px); /*pra funcionar pai tem que ter altura definida*/
    }

    .jl-portfolio-list .jl-portfolio-item {
        margin-bottom: 100px;
    }
    
    .jl-slider-list .jl-portfolio-item-info {
        width: calc(100% - 75px);
        display: table; /* assume o tamanho do conteudo dentro dele*/
        margin-top: 57px;

        position: relative; /* relativo ao pai*/
        left: -75px;

        opacity: 0;
    }

    .jl-portfolio-list .jl-portfolio-item-info {
        width: calc(100% - 40px);
    }

    .jl-portfolio-list {
        list-style: none;
    }
    
    .jl-slider-list .jl-portfolio-item-thumb, .jl-portfolio-list .jl-portfolio-item-thumb {
        width: 100%;
        display: table;
        padding: 65px 0 19px 0;
        position: relative; /* relativo ao pai*/
    }

    .jl-slider-list .jl-portfolio-item-thumb > button, .jl-portfolio-list .jl-portfolio-item-thumb > button {
        margin-top: 17px;
        margin-right: 25px;
        float: right;
    }

    .jl-slider-list .jl-portfolio-item-thumb img {
        /* torna a imagem responsiva */
        width: 100%;
        max-width: 100%;
        height: auto;

        position: relative;

        left: -25px;

        transform: scale(0);
    }

    .jl-portfolio-list .jl-portfolio-item-thumb img {
        /* torna a imagem responsiva */
        width: 100%;
        max-width: 100%;
        height: auto;

        position: relative;

        left: -25px;

    }

    .jl-slider-list .jl-portfolio-item-box {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2C2C2C;

        position: absolute; /* ??? */
        top: 0;
        left: 0;

        transform: scaleX(0);
        transform-origin: right;    /* começa animação da direita pra esquerda */
    }

    .jl-portfolio-list .jl-portfolio-item-box {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2C2C2C;

        position: absolute; /* ??? */
        top: 0;
        left: 0;
        
    }

    /*--- PORTFOLIO ---*/

    .jl-section-offset-top {
        margin-top: 130px;
    }

    /* altera todos os impares */
    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info{
        text-align: right;
        margin-top: 70px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info button{
        float: right;
    }

    /* altera todos os pares - pega somente a primeira row da lista*/
    .jl-portfolio-list .jl-portfolio-item:nth-child(even) > .row {
        flex-direction: row-reverse;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info{
        margin-left: 75px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb button{
        float: left;
        margin-left: 75px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb img{
        left: 25px;
    }

    /*--- SOBRE ---*/
    #jl-avatar-sobre img {
        position: relative;
        left: -15px;
    }

    /*--- DETALHES ---*/
    .jl-hero {
        height: 500px;
        background-image: url('../pages/portfolio/img/hero.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;    /*centraliza a imagem*/
        display: block;
    }

    .jl-hero h1 {
        margin-bottom: 50px;
    }

    /* classe com o mesmo tamanho do banner */
    .jl-hero-inner {
        height: 500px;
    }

    .jl-hero-inner-content {
        position: relative; /*???*/
    }

    .jl-hero-inner-content p{
        margin-bottom: 15px;
    }

    .jl-hero-inner-content:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        display: block;
        
        position: absolute; /*???*/
        
        left: -65px;
        top: -65px;

        box-sizing: content-box;    /* não inclui o padding pra dentro do box*/
        padding: 65px;
    }

    .jl-project-stats {
        width: 100%;
        height: 100%;
        display: table;
        border-right: 1px solid #2CCB69;
    }

    /*--------------- POST ---------------*/

    .jl-post p{
        margin-bottom: 30px;;
    }

    .jl-post-section {
        width: 100%;
        display: table;
        padding: 45px 0;
    }

}

@media screen and (min-width: 576px){
    
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 992px){
    /* --- estilo de topbar ---*/
    .jl-menu {
        display: table;
        float: left;
        height: 110px;
        background-color: transparent;
        margin-left: 30px;
    }

    .jl-menu a {
        font-family: 'Open Sans';
        font-size: 16px;
        color: #bcbcbc;
        text-decoration: none;
        text-transform: lowercase;

        display: inline-block;
        margin: 50px 20px 0 20px;
        font-weight: 400;
        
        position: relative; /*util efeito hover verde*/
    }

    .jl-menu a:first-child {
        margin-left: 0;
    }

    .jl-menu a:hover {
        color: #2CCB69;
    }

    .jl-menu a:before {
        content: '';
        width: 100%;
        height: 4px;
        background-color: #2CCB69;

        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;

        transition: all .2s ease-out;
        /*faz efeito de anim bottom verde*/
        transform: scale(0, 1);
        transform-origin: center left;
    }

    .jl-menu a:hover:before {
        transform: scale(1, 1); /*faz efeito de anim bottom verde*/
    }
}

@media screen and (min-width: 1200px){
    
}

@media screen and (min-width: 1364px){
    
}

@media screen and (min-width: 1600px){
    
}

/* Botões */

.jl-btn {
    /* não precisa definir width, e respeita o padding*/
    /* mas não centraliza o botao 
        display: inline-block;
    */

    display: table; /*deixa centralizar botão*/
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-out;
    text-transform: lowercase;

    cursor: pointer;
    /* margin: 0 auto; */

    position: relative;
}

.jl-btn ion-icon {
    font-size: 21px;
    /* alinha o icon do botao */
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -7px;
}

.jl-btn-block {
    display: block;
    width: 100%;
}

.jl-btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 11px;
}

.jl-btn-medium {
    height: 38px;
    line-height: 38px;
    padding: 0 27px;
    border-radius: 19px;
    font-size: 14px;
}

.jl-btn-large {
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;
}

.jl-btn-green {
    background-color: #2CCB69;
    color: #1C1C1C;
}

.jl-btn-green:hover {
    background-color: rgb(6, 135, 55);
    color: #fff;
    transform: scale(1.03);
}

.jl-btn-dark {
    background-color: #151515;
    color: #2CCB69;
}

.jl-btn-dark:hover {
    background-color: #2f2f2f;
    color: #fff;
    transform: scale(1.03);
}


/* CLASSES UTILITARIAS */

/* fontes dos textos */
.jl-title {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}

.jl-subtitle {
    font-family: 'Open Sans', serif;
    font-weight: 800;
}

.jl-title-medium {
    font-size: 48px;
}

.jl-title-large {
    font-size: 64px;
}

.jl-title-blarge {
    font-size: 80px;
}

.jl-title-xlarge {
    font-size: 100px;
}

/* alinhamentos dos textos */

.jl-text-align-center {
    text-align: center;
}

/* cor dos textos */
.jl-text-green {
    color: #2CCB69;
}

.jl-text-dark {
    color: #4D4C4C;
}

.jl-text-light {
    color: #bcbcbc;
}

.jl-text-black {
    color: #000;
}

.jl-text-center {
    text-align: center;
}

/* cor de backgrounds */

.jl-bg-green {
    background-color: #2CCB69;
}

.jl-bg-dark {
    background-color: #4D4C4C;
}

.jl-bg-light {
    background-color: #bcbcbc;
}

.jl-bg-black {
    background-color: #000;
}

/* margens */

.jl-mar-15 {
    margin: 15px;
}

.jl-mar-top-15 {
    margin-top: 15px;
}

.jl-mar-right-15 {
    margin-right: 15px;
}

.jl-mar-bottom-15 {
    margin-bottom: 15px;
}

.jl-mar-left-15 {
    margin-left: 15px;
}

/* paddings */

.jl-pad-15 {
    padding: 15px;
}

.jl-pad-top-15 {
    padding-top: 15px;
}

.jl-pad-right-15 {
    padding-right: 15px;
}

.jl-pad-bottom-15 {
    padding-bottom: 15px;
}

.jl-pad-left-15 {
    padding-left: 15px;
}

/* margens 30 */

.jl-mar-30 {
    margin: 30px;
}

.jl-mar-top-30 {
    margin-top: 30px;
}

.jl-mar-right-30 {
    margin-right: 30px;
}

.jl-mar-bottom-30 {
    margin-bottom: 30px;
}

.jl-mar-left-30 {
    margin-left: 30px;
}

/* paddings 30*/

.jl-pad-30 {
    padding: 30px;
}

.jl-pad-top-30 {
    padding-top: 30px;
}

.jl-pad-right-30 {
    padding-right: 30px;
}

.jl-pad-bottom-30 {
    padding-bottom: 30px;
}

.jl-pad-left-30 {
    padding-left: 30px;
}

.jl-full-height {
    height: 100vh;
    position: relative; /*pai*/
    
}

.jl-first-section {
    /* FIX - subtrai 30px do vh */
    height: calc(100vh - 30px);
}

.jl-no-padding {
    padding: 0!important;
}

.jl-box-img {
    width: 100%;
    display: table; /*asume a altura do que tiver dentro dela*/
}

.jl-img-responsive {
    /* torna img responsiva*/
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.jl-page-list {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

/* quem tiver dentro e forem li*/
.jl-page-list > li {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
    padding-left: 20px;
    
    position: relative;
}

.jl-page-list > li:before {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;

    position: absolute;
    top: 7px;
    left: 0;
    background-color: #2CCB69;
}

/* CLASSES DE COMPORTAMENTOS */

.jl-is-open {
    display: block;
}

.jl-slide-top-in {  /*faz animação do modal descendo*/
    animation: slideTopIn 0.6s forwards cubic-bezier(0,1.11,.6,.89);
}

.jl-change-icon {
    background-position-y: -45px;
}

/* Preloader */
.jl-fade-out {
    animation: fadeOut 2s forwards ease-out;
}

.jl-fade-from-left{
    animation: fadeFromLeft 2s 0.7s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-scale-right {
    animation: scaleRight 0.7s 0.2s  forwards cubic-bezier(0,1.01,.32,1);
}

.jl-scale-up {
    animation: scaleUp 0.5s 0.5s  forwards cubic-bezier(0,1.01,.32,1);
}

/* Painel dos botões de navegação */
.jl-no-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jl-no-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Cores provisórias */

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}